/*  CSS RESET  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: black;
	text-decoration: none;
}

/*  clearfix  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}

/*  global  */
$orange: rgb(255, 83, 0);
$purple: rgb(171, 62, 152);
$blue: rgb(95, 65, 161);
$yellow: rgb(222, 186, 3);

@mixin respond-to($query){
	@media (max-width: $query){
		@content
	}
}

.container {
	width: 90%;
	margin: 0 auto;
}
.flex {
	display: flex
}
.flex-wrap {
	display: flex-wrap;
}
body {
	border: 10px solid white;
	font-family: 'Source Sans Pro', sans-serif;
	color: rgb(73, 76, 78);
}
h1, h2, h3 {
	font-family: 'Droid Serif', serif;
}
a {
	&:hover, &:active, &:visited {
		text-decoration: none;
		color: black;
	}
}

/*  header  */
@keyframes circle {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
header {
	height: 95vh;
	.header-text {
		width: 80%;
		position: absolute;
		top: 45%;
		left: 15%;
		h1 {
			color: white;
			display: block;
			width: 100%;
			font-size: 3em;
			font-weight: bold;
			margin-bottom: 10px;
			@include respond-to(600px) {
				font-size: 2.5em;
			}
		}
		p {
			font-size: 1.5em;
			color: white;
		}
	}
	ul {
		display: flex;
		width: 300px;
		list-style: none;
		height: 50px;
		justify-content: flex-end;
		align-items: center;
		@include respond-to(600px) {
			display: none;
		}
		li {
			font-size: 1.3em;
			display: block;
			text-align: right;
			margin-left: 30px;
			height: 1.2em;
			box-sizing: border-box;
			&:first-child:hover {
				border-bottom: 3px solid $orange;
			}
			&:nth-child(2):hover {
				border-bottom: 3px solid $purple;
			}
			&:last-child:hover {
				border-bottom: 3px solid $yellow;
			}
		}
	}
}
/*.header-social-links {
	justify-content: space-between;
	width: 75px;
	margin-left: 10px;
	li:hover {
		border-bottom: none;
	}
	i {
		font-size: 0.8em;
	}
	a {
		display: block;
	}
	a:hover i {
		color: $orange;
	}
}*/
.logo {
	display: flex;
	align-items: center;
	.logo-img {
		height: 66px;
		width: 66px;
		margin-right: 8px;
		&:hover {
			transform-origin: 55% 50%;
			animation: circle 2s infinite linear;
		}
	}
	h1 {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 1.3em;
		margin-left: 5px;
		z-index: 3;
		letter-spacing: 1.2px;
	}
}
	
nav {
	display: flex;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 100px;
	background-color: white;
	align-items: center;
	transition: height 0.8s;
	> .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.active {
	border-bottom: 3px solid $blue;
}
/*  main  */
main {
	position: relative;
	border-bottom: 1px solid rgb(240, 238, 238);
}
.bg {
	width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include respond-to(600px) {
  	background-attachment: initial;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  }
  &.bg-1 {
  	background-image: url('../images/header-bg2.jpg');
  	height: 85vh;
  	background-position: center bottom;
  	position: absolute;
  	top: 85px;
  }
  &.bg-2{
  	height: 60vh;
  	background-image: url('../images/bg-img3.jpg');
  	@include respond-to(600px) {
  		height: 300px;
  	}
  }
  &.bg-3 {
		height: 60vh;
  	background-image: url('../images/bg-img2.jpg');
  	@include respond-to(600px) {
  		height: 300px;
  	}
  }
  &.bg-4 {
		height: 60vh;
  	background-image: url('../images/bg-img4.jpg');
  	@include respond-to(600px) {
  		height: 300px;
  	}
  }
}

.news, .about, .contact {
	margin: 40px 0;
	.main-content {
		display: flex;
		justify-content: space-between;
		width: 60%;
		margin: 0 auto;
		@include respond-to(1025px) {
			display: block;
			width: 80%;
			justify-content: center;
		}
		@include respond-to(600px) {
			width: 90%;
			margin-bottom: 2em;
		}
		h1 {
			font-size: 0.8em;
			display: inline;
		}
	}
	.content-title {
		width: 25%;
		font-size: 3em;
		margin-bottom: 50px;
		margin-right: 10px;
		@include respond-to(1025px) {
			text-align: center;
			width: 100%;
		}
	}
	p {
		line-height: 150%;
		width: 65%;
		font-size: 1.2em;
		@include respond-to(1025px) {
			width: 100%;
			text-align: center;
		}
	}
}
.news {
	h1 {
		border-bottom: 3px solid $orange;
	}
}
.about {
	> h1 {
		width: 600px;
		text-align: center;
		margin: 5em auto;
		font-size: 2.5em;
		@include respond-to(785px) {
			font-size: 2em;
		}
		@include respond-to(600px) {
			width: 100%;
		}
	}
}
#about-blocks {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: space-between;
	@include respond-to(600px) {
		display: block
	}
}
.about-block {
	width: 32%;
	@include respond-to(600px) {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.about-text-container {
		width: 90%;
		margin: 7vh auto;
		height: 25em;
		@include respond-to(980px) {
			margin: 3vh auto;
		}
		@include respond-to(600px) {
			width: 100%;
			height: 12em;
		}
	}
	img {
		opacity: 0.9;
		width: 100%;
	}
	h1 {
		font-size: 1.8em;
		font-family: 'Roboto Condensed', sans-serif;
		text-align: center;
		margin-bottom: 5vh;
	}
	p {
		width: 100%;
		margin-bottom: 30px;
		color: rgb(135, 135, 135);
		text-align: center;
		margin: 0 auto;
	}
}
.about-img-container {
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
	@include respond-to(1140px) {
		width: 250px;
		height: 250px;
	}
	@include respond-to(980px) {
		width: 200px;
		height: 200px;
	}
	@include respond-to(785px) {
		width: 150px;
		height: 150px;
	}
	@include respond-to(600px) {
		width: 200px;
		height: 200px;
	}
}

.menu {
	width: 60%;
	margin: 100px auto;
	@include respond-to(785px) {
		width: 90%;
	}
	.menu-h1-div {
		margin: 10vh auto;
		text-align: center;
	}
	h1 {
		display: inline;
		font-size: 2em;
		border-bottom: 3px solid $purple;
	}
	img {
		width: 100%;
	}
}
.contact {
	h1 {
		border-bottom: 3px solid $yellow;
	}
	.contact-info {
		p {
			width: 100%;
			text-align: left;
		}
		i {
			margin-left: 5px;
		}
		@include respond-to(1025px) {
			width: 400px;
			margin: 0 auto;
		}
		@include respond-to(600px) {
			width: 100%;
		}
	}
}
iframe {
	width: 400px;
	height: 300px;
	@include respond-to(600px) {
		width: 100%;
		height: auto;
	}
}
/*  footer  */

footer {
	h1 {
		font-size: 1.5em;
		width: 200px;
		text-align: center;
		margin: 30px auto;
		font-family: 'Roboto Condensed', sans-serif;
	}
	.social {
		margin: 40px auto;
		font-size: 1.2em;
		width: 100px;
		text-align: center;
		display: flex;
		justify-content: space-between;
		a:hover i {
			color: $purple;
		}
	}
	p {
		text-align: center;
		width: 300px;
		margin: 20px auto;
		color: rgb(135, 135, 135);
	}
}
